.main
{
    background-image: url("Background/login.jpg");
    background-size: cover;
    width: 100%;
    height: 850px;
    position: relative;
    
}

@media(max-width:768px){
    .main
{
    background-image: url("Background/login.jpg");
    background-size: cover;
    width: 100%;
    height: 870px;
    position: relative;
    
}
}

.overlay{
    
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: rgba(0, 0,0, 0.4);
    height: 850px;
}

@media(max-width:768px){
    .overlay{
    
        top: 0;left: 0;right: 0;bottom: 0;
        background-color: rgba(0, 0,0, 0.4);
        height: 870px;
    }
}

.logo
{
    position: relative;
    width: 10%;
    height: 10%;
    margin-left: 10%;
    margin-top: 1.5%;
}

.base
{
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.mid
{
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    width: 28%;
    height: 95%;
    margin-top: 1%;
    padding-top: 3%;
    padding-left: 4%;
}

@media(max-width:768px){
    .mid{
        position: relative;
        background-color: rgba(0, 0, 0, 0.8);
        width: 70%;
        height: 70%;
        margin-top: 20%;
        padding-top: 3%;
        padding-left: 4%;
    }
}

.sign
{
    color: white;
    font-size: xx-large;
}

.input
{
    width: 100%;
}

.email
{
    margin-top: 7%;
    margin-bottom: 5%;
    height: 50px;
    width: 85%;
    background-color: rgba(31, 30, 30, 0.6);
    color: white;
    font-weight: 500;
    font-size: medium;
    text-indent: 20px;
    border-radius: 5px;
}

.pass
{
    height: 50px;
    width: 85%;
    background-color: rgba(31, 30, 30, 0.6);
    color: white;
    font-weight: 500;
    font-size: medium;
    text-indent: 20px;
    border-radius: 5px;
    margin-bottom: 5%;
}

.alert
{
    width: 100%;
    height: 50%;
    color: red;
    display: none;
}

.signInButton
{
    background-color: red;
    color: white;
    height: 45px;
    width: 88.5%;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 5%;
}

.checkbox
{
    transform: scale(1.8);
    background-color: white;
}

.check
{
    color: white;
}

.new
{
    color: gray;
}
.new1
{
    color: white;
}

.just
{
    color: gray;
}
.link
{
    color: blue;
}